<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <link type="text/css" href="../public/assert/login.css" rel="stylesheet" >
    <link type="text/css" href="../public/assert/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="mycontainer">

    <div id="content" >

        <div id="registerdiv">
            <p>用户登陆</p>
        </div>
        <div id="formdiv">
            <form action="user" method="post">
                <label >用户名:</label>
                <input type="text"  name="username" aria-label="" />
                <br />
                <label >密码:</label>
                <input type="text" name="password"/>
                <br />
                <input type="submit"  class="btn-outline-light" value="登陆">

            </form>
        </div>
        <div id="registerdiv">
            <a href="./register"  type="text/html" >没有账号,点击注册</a>
        </div>


    </div>
</div>
</body>
</html>